*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  background-color: #111;
}
.container{
  height: 300px;
  width: 450px;
  background-color: #333;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 200px auto;
}
.container h1{
  text-align: center;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}
input{
  height: 35px;
  width: 400px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}
input:focus{
  outline: none;
}
.container button{
  margin-top: 24px;
  height: 40px;
  width: 200px;
  margin-left: 125px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
button:active{
  width: 220px;
  margin-left: 115px;
}
/*
now styling of the status page 
*/
.cont{
  height: 250px;
  width: 400px;
  margin: 100px auto;
  color: rgb(37, 37, 37);
  background-color: #eae4e4;
  border-radius: 12px;
  border: 1px solid gray;
}
.cont h1,h2{
  text-align: center;
}
.cont h1{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
a{
  text-decoration: none;
  display: inline-block;
  
  color: #3498db;
  margin-top: 50px;
  margin-left: 170px;
  font-size: 20px;
}